body{
    background: #ffbd40;
}

header{
    margin: 8vh auto;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8em;
    color:#052d6e;
}

h1{
    text-align:center;
    color: #05296e;
    font-family: 'Lato', sans-serif;

}

h2{
    color: #29467f;
    font-weight:bolder;
}

.row{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.jumbotron{
    margin-top: 6vh;
    background-color: #bf8e30;
}

.myContainer {
    width: 100%;
}

.myContainer img{
    width: 100%;
}

.marginer{
    margin: 20px auto;
    background: #ffcf73;
    border-radius: 3vw;
    border: solid #a66d00 1px;
    padding: 20px;
}

img[alt]{
    font-weight: bold;
    font-size: 1.1em;
}

.myContainer a{
    text-decoration: none;
    color:#1144aa;
    padding: 10px;
    margin: 10px auto;
    background-color: #ffa700;
    border-radius: 5px;
    width: 90%;
    position: relative;
    bottom: 20px;

}

footer{
    position: relative;
    display: block;
    width:100%;;
    background-color: #bf8e30;
    top: 100%;
    margin:  0;
    padding: 15px 0 10px 0;
}
footer p{
    margin: 0;
    text-align:center;
    color: #05296e;
    font-family: 'Lato', sans-serif;
}